//image-sizes
$radius: 30rem;

#image {
  content: url("../../assets/pro_pic/pro_pic_xl.webp");
  border-radius: $radius;
  padding: $m-size;
}

.pro_pic {
  background-color: $brand-white;
  border-radius: $s-size 0px 0px $s-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro_summary {
  background-color: $brand-blue;
  border-radius: 0px $s-size $s-size 0px;
  padding: $m-size;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: $tablets) {
  #image {
    content: url("../../assets/pro_pic/pro_pic_l.webp");
  }

  .pro_pic {
    border-radius: $s-size $s-size 0px 0px;
  }
  .pro_summary {
    border-radius: 0px 0px $s-size $s-size;
  }
}

@media only screen and (max-width: $normal-phones) {
  #image {
    content: url("../../assets/pro_pic/pro_pic_m.webp");
  }
}

@media only screen and (max-width: $tiny-phones) {
  #image {
    content: url("../../assets/pro_pic/pro_pic_s.webp");
  }
}

@media only screen and (max-width: 170px) {
  #image {
    max-width: 70px;
    max-height: 70px;
  }
}
