//image-sizes
$img-xl: 30rem;
$img-l: 20rem;
$img-m: 15rem;
$img-s: 10rem;

.pro_pic > img {
  height: $img-xl;
  width: $img-xl;
  border-radius: $img-xl;
  padding: $m-size;
}

.pro_pic {
  background-color: $brand-white;
  border-radius: $s-size 0px 0px $s-size;
  display: flex;
  justify-content: center;
}

.pro_summary {
  background-color: $brand-blue;
  border-radius: 0px $s-size $s-size 0px;
  padding: $m-size;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: $tablets) {
  .pro_pic > img {
    height: $img-l;
    width: $img-l;
    border-radius: $img-xl;
  }
  .pro_pic {
    border-radius: $s-size $s-size 0px 0px;
  }
  .pro_summary {
    border-radius: 0px 0px $s-size $s-size;
  }
}

@media only screen and (max-width: $normal-phones) {
  .pro_pic > img {
    height: $img-m;
    width: $img-m;
    border-radius: $img-xl;
  }
}

@media only screen and (max-width: $tiny-phones) {
  .pro_pic > img {
    height: $img-s;
    width: $img-s;
    border-radius: $img-xl;
  }
}

@media only screen and (max-width: 170px) {
  .pro_pic > img {
    height: 70px;
    width: 70px;
    border-radius: $img-xl;
  }

  .pro_pic {
    align-items: center;
  }
}
