.content {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.provisions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media only screen and (max-width: $tablets) {
}

@media only screen and (max-width: $tiny-phones) {
}
