@import "./components/about";
@import "./components/provisions";
@import "./components/bio";
@import "./components/contact";

.content > div {
  box-shadow: $s-size $s-size #f1f1f1;
  border-radius: $s-size;
}
.content {
  display: flex;
  flex-direction: column;
}
