.project {
  box-shadow: $s-size $s-size #3f3fa8;
  border-radius: $s-size;
  background-color: $brand-white;
  margin-top: $m-size;
  padding: $m-size;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
