.provision-box {
  flex-basis: 25%;
  margin: $m-size;
  padding: $s-size;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: $brand-blue;
  border-radius: $s-size;
}

.provision-title {
  grid-column: 1/-1;
  text-align: center;
}

#provisions {
  margin-top: $m-size;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: auto;
  background-color: $brand-white;
}

@media only screen and (max-width: $large-devices) {
  .provision-box {
    grid-column: span 2;
  }
}

@media only screen and (max-width: $tiny-phones) {
  .provision-box {
    grid-column: 1 / -1;
  }
}
