.provision-box {
  padding: $m-size;
  text-align: center;
  flex-basis: 25%;
  box-sizing: border-box;
}
.provision-title {
  flex-basis: 100%;
  text-align: center;
}

.provisions {
  margin-top: $m-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: $brand-white;
}

@media only screen and (max-width: $large-devices) {
  .provision-box {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: $tiny-phones) {
  .provision-box {
    flex-basis: 100%;
  }
}
