.container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: $brand-white;
}

.content {
  grid-column: 2/12;
}

.footer {
  margin-top: $m-size;
  grid-column: 1/13;
  background-color: black;
  color: $brand-white;
}
