.container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 0.2fr 2fr 0.5fr;
}

.header {
  grid-column: 2/12;
}

.menu {
  grid-column: 2/12;
}

.content {
  grid-column: 2/12;
}

.footer {
  grid-column: 1/13;
}
