html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: $l-size;
  background-color: $brand-blue;
}

html,
body,
#root,
.App {
  height: 100%;
}

.container > div:not(.content) {
  text-align: center;
  padding: $m-size;
}
