html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: $l-size;
  background-color: white;
}

html,
body,
#root,
.App {
  height: 100%;
}

.container > div:not(.content) {
  text-align: center;
  padding: $m-size;
}

@media only screen and (max-width: $tablets) {
  body {
    font-size: $size-34;
  }
}

@media only screen and (max-width: $normal-phones) {
  body {
    font-size: $size-33;
  }
}

@media only screen and (max-width: $tiny-phones) {
  body {
    font-size: $m-size;
  }
}
