// Colors
$brand-blue: rgb(86, 86, 209);
$brand-white: rgb(195, 207, 209);
$brand-brown: rgb(209, 168, 140);

// Sizes

$s-size: 0.8rem;
$m-size: 1.6rem;
$size_33: 2rem;
$size_34: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Break-points

$tiny-phones: 350px;
$normal-phones: 600px;
$tablets: 768px;
$large-devices: 992px;
